.search-container{
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 30px) 30px;
    font-family: "Palatino", sans-serif;
    font-size: 16px;
}
.search-container input{
    /* width: calc(100% - 30px); */
    border:0px;
    padding: 5px;
    font-size: 16px;
    outline:none;
}
.search-container button{
    padding: 5px;
    /* padding-right: 0px; */
    width: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:0px;
    background-color: #F0DEC8;
    font-size: 16px;
    border-radius: 0px 5px 0px 0px;
    cursor:pointer;
}
.search-container button:active{
    background-color: #ddcdb9;
}