.ButtonL{
    background-color: white;
    /* padding: 7px; */
    border: none;
    /* border-radius: 5px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    width: max-content;
    cursor:pointer;
}

.ButtonL:hover {
	transform: translate(0, 0.25em);
}
.ButtonIcon {
	font-size:20px;
    color:rgb(155, 11, 11);
}
/* .ButtonL:active {
	background: #534e47;
} */

